.theme-twentytwenty * {
  word-break: normal;
  word-wrap: normal;
}

.theme-twentytwenty #site-header {
  border-bottom: 1px solid #dbdbdb;
}

.theme-twentytwenty #site-header .header-inner {
  padding: 22px 0 25px;
}

.theme-twentytwenty .header-inner,
.theme-twentytwenty footer .section-inner,
.theme-twentytwenty .content-area,
.theme-twentytwenty #site-content .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  max-width: 760px;
  padding-left: 0;
  padding-right: 0;
  width: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
}

.theme-twentytwenty .header-inner h2, .theme-twentytwenty .header-inner h3,
.theme-twentytwenty footer .section-inner h2,
.theme-twentytwenty footer .section-inner h3,
.theme-twentytwenty .content-area h2,
.theme-twentytwenty .content-area h3,
.theme-twentytwenty #site-content .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) h2,
.theme-twentytwenty #site-content .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) h3 {
  font-size: 36px;
}

.theme-twentytwenty.woocommerce .content-area {
  padding: 0;
}

.theme-twentytwenty #site-content .entry-header {
  padding: 0;
}

.theme-twentytwenty .woocommerce-products-header__title.page-title,
.theme-twentytwenty .entry-title {
  padding: 20px 0 30px 0;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.theme-twentytwenty.single-product .entry-title {
  font-size: 30px;
}

.theme-twentytwenty .menu-modal .toggle {
  outline: none;
}

.theme-twentytwenty section::before {
  content: "";
  display: table;
  clear: both;
}

.theme-twentytwenty .primary-menu > li > a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.theme-twentytwenty .primary-menu > li.current-menu-item > a, .theme-twentytwenty .primary-menu > li > a:hover {
  text-decoration: none;
  border-bottom: 1px solid #e22658;
}

.theme-twentytwenty .menu-modal {
  z-index: 299;
}

.theme-twentytwenty .content-area .site-main {
  margin: 0;
}

.theme-twentytwenty ul.wc-block-grid__products,
.theme-twentytwenty ul.products {
  margin: 0 -5px;
}

.theme-twentytwenty ul.wc-block-grid__products::before, .theme-twentytwenty ul.wc-block-grid__products::after,
.theme-twentytwenty ul.products::before,
.theme-twentytwenty ul.products::after {
  content: none !important;
  display: none !important;
}

.theme-twentytwenty .has-2-columns ul.wc-block-grid__products li.wc-block-grid__product,
.theme-twentytwenty ul.products.columns-2 li.product {
  width: 50%;
  flex: 1 0 50%;
  max-width: 50%;
  float: none !important;
  padding: 0;
}

.theme-twentytwenty .has-3-columns ul.wc-block-grid__products li.wc-block-grid__product,
.theme-twentytwenty ul.products.columns-3 li.product {
  width: 33.33%;
  flex: 1 0 33.33%;
  max-width: 33.33%;
  float: none !important;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .theme-twentytwenty .has-3-columns ul.wc-block-grid__products li.wc-block-grid__product,
  .theme-twentytwenty ul.products.columns-3 li.product {
    width: 50%;
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.theme-twentytwenty ul.wc-block-grid__products li.wc-block-grid__product,
.theme-twentytwenty ul.products li.product {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: relative;
  margin: 0 0 40px 0 !important;
  text-align: center;
  line-height: 22px;
}

.theme-twentytwenty ul.wc-block-grid__products li.wc-block-grid__product .button, .theme-twentytwenty ul.wc-block-grid__products li.wc-block-grid__product .wp-block-button__link,
.theme-twentytwenty ul.products li.product .button,
.theme-twentytwenty ul.products li.product .wp-block-button__link {
  padding: 10px 20px;
  margin: 0 auto;
}

.theme-twentytwenty ul.wc-block-grid__products li.wc-block-grid__product .button.added:after, .theme-twentytwenty ul.wc-block-grid__products li.wc-block-grid__product .wp-block-button__link.added:after,
.theme-twentytwenty ul.products li.product .button.added:after,
.theme-twentytwenty ul.products li.product .wp-block-button__link.added:after {
  content: none;
}

.theme-twentytwenty ul.wc-block-grid__products li.wc-block-grid__product .wc-block-grid__product-title,
.theme-twentytwenty ul.wc-block-grid__products li.wc-block-grid__product .woocommerce-loop-product__title,
.theme-twentytwenty ul.products li.product .wc-block-grid__product-title,
.theme-twentytwenty ul.products li.product .woocommerce-loop-product__title {
  font-size: 20px;
  font-weight: 700;
  margin: 6px 0 10px;
  padding: 0;
}

.theme-twentytwenty ul.wc-block-grid__products li.wc-block-grid__product .added_to_cart,
.theme-twentytwenty ul.products li.product .added_to_cart {
  position: absolute;
  bottom: -34px;
  left: 0;
  right: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 16px;
  padding: 4px 0;
}

.theme-twentytwenty .woocommerce-info, .theme-twentytwenty .woocommerce-message, .theme-twentytwenty .woocommerce-error {
  font-size: 16px;
  padding: 10px 12px;
  margin-bottom: 30px;
}

.theme-twentytwenty .woocommerce-info .button, .theme-twentytwenty .woocommerce-message .button, .theme-twentytwenty .woocommerce-error .button {
  padding: 10px 14px;
  font-size: 15px;
}

.theme-twentytwenty .wc-block-grid__product-image {
  margin-bottom: 0;
}

.theme-twentytwenty .added_to_cart {
  display: block;
}

.theme-twentytwenty .woocommerce-product-gallery .flex-control-thumbs li {
  margin: 0 5% 0 0 !important;
}

.theme-twentytwenty .wc-block-grid__product-onsale,
.theme-twentytwenty .onsale {
  padding: 6px 10px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.7);
}

.theme-twentytwenty .wp-block-button {
  margin: 0;
}

.theme-twentytwenty .cart-collaterals .cart_totals {
  float: none;
  width: 100%;
}

.theme-twentytwenty .cart-collaterals .cart_totals.calculated_shipping th {
  width: 20%;
  white-space: nowrap;
}

.theme-twentytwenty .woocommerce-shipping-methods label {
  font-size: 14px  !important;
}

.theme-twentytwenty .woocommerce-checkout table {
  margin-top: 0px !important;
}

.theme-twentytwenty .woocommerce-checkout-review-order-table .woocommerce-shipping-totals td {
  width: 50%;
}

.theme-twentytwenty .price {
  margin-bottom: 12px !important;
}

.theme-twentytwenty .price del {
  display: block;
  margin-top: -10px;
  opacity: 1;
  color: #888;
}

.theme-twentytwenty .price del span {
  color: #888;
  font-size: 95% !important;
}

.theme-twentytwenty .price span {
  font-size: 20px !important;
}

.theme-twentytwenty .woocommerce-breadcrumb {
  margin: 20px 0 10px;
}

.theme-twentytwenty .woocommerce-cart-form table {
  margin-top: 0;
}

.theme-twentytwenty .product_meta > span {
  padding: 0 0 5px 0;
  font-size: 14px;
  display: block;
}

.theme-twentytwenty .woocommerce-product-gallery__trigger {
  text-decoration: none;
  font-size: 30px;
}

.theme-twentytwenty #ship-to-different-address {
  display: none;
}

.theme-twentytwenty .woocommerce-additional-fields {
  margin-top: 20px;
}

.theme-twentytwenty .woocommerce-checkout input[type="text"], .theme-twentytwenty .woocommerce-checkout input[type="password"], .theme-twentytwenty .woocommerce-checkout input[type="email"], .theme-twentytwenty .woocommerce-checkout input[type="url"], .theme-twentytwenty .woocommerce-checkout input[type="date"], .theme-twentytwenty .woocommerce-checkout input[type="month"], .theme-twentytwenty .woocommerce-checkout input[type="time"], .theme-twentytwenty .woocommerce-checkout input[type="datetime"], .theme-twentytwenty .woocommerce-checkout input[type="datetime-local"], .theme-twentytwenty .woocommerce-checkout input[type="week"], .theme-twentytwenty .woocommerce-checkout input[type="number"], .theme-twentytwenty .woocommerce-checkout input[type="search"], .theme-twentytwenty .woocommerce-checkout input[type="tel"], .theme-twentytwenty .woocommerce-checkout input[type="color"] {
  padding: 1rem 1rem;
}

.theme-twentytwenty .woocommerce-checkout textarea {
  padding: 0.6rem 1rem;
}

.theme-twentytwenty .woocommerce-checkout .dadata-address {
  height: 40px;
}

.theme-twentytwenty .woocommerce .product-subtotal del, .theme-twentytwenty .woocommerce .product-total del, .theme-twentytwenty .woocommerce .cart-subtotal del, .theme-twentytwenty .woocommerce .cart-total del, .theme-twentytwenty .woocommerce .product-price del {
  display: block;
}

.theme-twentytwenty .woocommerce .product-subtotal del, .theme-twentytwenty .woocommerce .product-subtotal del span, .theme-twentytwenty .woocommerce .product-total del, .theme-twentytwenty .woocommerce .product-total del span, .theme-twentytwenty .woocommerce .cart-subtotal del, .theme-twentytwenty .woocommerce .cart-subtotal del span, .theme-twentytwenty .woocommerce .cart-total del, .theme-twentytwenty .woocommerce .cart-total del span, .theme-twentytwenty .woocommerce .product-price del, .theme-twentytwenty .woocommerce .product-price del span {
  opacity: 1;
  font-weight: 400 !important;
  color: #888;
}

.single-product .summary, .woocommerce-product-gallery {
  margin-bottom: 20px !important;
}

@media (min-width: 768px) {
  .woocommerce table.cart td.product-quantity .qib-container:not(#qib_id) {
    justify-content: flex-end;
  }
}

.woocommerce-order-pay .button.cancel {
  display: none;
}

.woocommerce-order-pay .order_details {
  display: table;
  margin: 0 auto 30px auto;
  text-align: left;
}

.woocommerce-order-pay .woocommerce {
  text-align: center;
}

.related.products h2, .cart_totals h2 {
  font-size: 24px !important;
  margin: 10px 0 20px;
}

.cart-collaterals .shop_table {
  margin: 5px 0;
}

#site-content #shipping_method {
  padding-bottom: 0;
}

#site-content #shipping_method li {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.wpmc-nav-wrapper {
  position: relative;
}

.wpmc-nav-wrapper #wpmc-prev {
  position: absolute;
  left: 0;
}

.wpmc-step-billing .woocommerce-billing-fields input.error {
  background: #ffe7e7;
  border-color: #e87676;
}

.woocommerce #order_review_heading {
  margin-bottom: 0;
}

.woocommerce-form-coupon-toggle .woocommerce-info {
  margin-bottom: 10px;
}

ul.wc_payment_methods, ul.wc_payment_methods li {
  margin-left: 0;
}

.ddtsugspoiler {
  display: none;
}

.woocommerce-checkout h2, .woocommerce-checkout h3 {
  font-size: 20px !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
