.wpmc-nav-wrapper {
  position: relative;
  #wpmc-prev {
    position: absolute;
    left: 0;
  }
}

.wpmc-step-billing .woocommerce-billing-fields {
  input.error {
    background: #ffe7e7;
    border-color: #e87676;
  }
}

.woocommerce #order_review_heading {
  margin-bottom: 0;
}

.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    margin-bottom: 10px;
  }
}

ul.wc_payment_methods {
  &, li {
    margin-left:0;
  }
}

.ddtsugspoiler  {
  display: none;
}

.woocommerce-checkout {
  h2,h3 {
    font-size: 20px !important;
    margin-top: 10px !important;
  }
}

.form-row.place-order {
  position: relative;
  .button[name=woocommerce_checkout_place_order] {
    position: absolute;
    right: 0;
    margin-top: 10px;
  }
}