.theme-twentytwenty {
  .content-area .site-main {
    margin: 0;
  }


  ul.wc-block-grid__products,
  ul.products {
    margin: 0 -5px;
    &::before, &::after {
      content: none !important;
      display: none !important;
    }
  }

  .has-2-columns ul.wc-block-grid__products li.wc-block-grid__product,
  ul.products.columns-2 li.product {
    width: 50%;
    flex: 1 0 50%;
    max-width: 50%;
    float: none !important;
  }

  .has-3-columns ul.wc-block-grid__products li.wc-block-grid__product,
  ul.products.columns-3 li.product {
    width: 33.33%;
    flex: 1 0 33.33%;
    max-width: 33.33%;
    float: none !important;

    @media only screen and (max-width: 768px) {
      width: 50%;
      flex: 1 0 50%;
      max-width: 50%;
    }
  }    

  ul.wc-block-grid__products li.wc-block-grid__product,
  ul.products li.product {
    padding: 0 5px !important;
    // border-left: 5px solid transparent;
    // border-right: 5px solid transparent;
    position: relative;
    margin: 0 0 40px 0 !important;
    text-align: center;
    line-height: 22px;

    .button, .wp-block-button__link {
      padding: 10px 20px;
      margin: 0 auto;
      &.added {
        &:after {
          content: none;
        }
      }
    }
    
    .wc-block-grid__product-title,
    .woocommerce-loop-product__title {
      font-size: 20px;
      font-weight: 700;
      margin: 6px 0 10px;
      padding: 0;
    }

    .added_to_cart {
      position: absolute;
      bottom: -34px;
      left:0;
      right: 0;
      margin: 0;
      white-space: nowrap;
      font-size: 16px;
      padding: 4px 0;
    }
  }

  .woocommerce-info, .woocommerce-message, .woocommerce-error {
    font-size: 16px;
    padding: 10px 12px;
    .button {
      padding: 10px 14px;
      font-size: 15px;
    }
    margin-bottom: 30px;
  }

  .wc-block-grid__product-image {
    margin-bottom: 0;
  }

  .added_to_cart {
    display: block;
  }

  .woocommerce-product-gallery .flex-control-thumbs li {
    margin: 0 5% 0 0 !important;
  }

  .wc-block-grid__product-onsale,
  .onsale {
    left: 5px;
    padding: 6px 10px;
    font-size: 15px;
    background: rgba(0,0,0,0.7);
  }

  .wp-block-button {
    margin: 0;
  }

  .cart-collaterals .cart_totals {
    float: none;
    width: 100%;

    &.calculated_shipping th {
      width: 20%;
      white-space: nowrap;
    }
  }

  .woocommerce-shipping-methods {
    label {
      font-size: 14px  !important;
    }
  }

  .woocommerce-checkout {
    table {
      margin-top: 0px !important;
    }
  }

  .woocommerce-checkout-review-order-table {
    .woocommerce-shipping-totals {
      td {
        width: 50%;
      }
    }
  }

  .price {
    margin-bottom: 12px !important;
    span {
      font-size: 20px !important;
    }
  }

  .woocommerce-breadcrumb {
    margin: 20px 0 10px;
  }
  
  .woocommerce-cart-form table {
    margin-top: 0;
  }

  .product_meta {
    > span {
      padding: 0 0 5px 0;
      font-size: 14px;
      display: block;
    }
  }

  .woocommerce-product-gallery__trigger {
    text-decoration: none;
    font-size: 30px;
  }

  #ship-to-different-address {
    display: none;
  }
  .woocommerce-additional-fields {
    margin-top: 20px;
  }

  .woocommerce-checkout {
    input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"] {
      padding: 1rem 1rem;
    }    
    textarea {
      padding: 0.6rem 1rem;
    }
    .dadata-address {
      height: 40px;
    }
  }

}

.single-product .summary, .woocommerce-product-gallery {
  margin-bottom: 20px !important;
}


.woocommerce-order-pay {
  .button.cancel {
    display: none;
  }
  
  .order_details {
    display: table;
    margin: 0 auto 30px auto;
    text-align: left;
  }

  .woocommerce {
    text-align: center;
  }
}

.related.products, .cart_totals  {
  h2 {
    font-size: 24px !important;
    margin: 10px 0 20px;
  }
}